{% if page_model.show_booking_section %}
    {% if booking_split %}
        <section class="booking">
    {% else %}
        <section class="booking --gray-bg">
    {% endif %}
        <div class="container">
            <a href="{% url 'website:make_appointment' %}" class="booking__link" data-aos="fade-up">
                <h3 class="like-h5">Boek afspraak</h3>
                <div class="desc">Overloop met ons de mogelijkheden, we komen langs met gratis advies</div>
                <span class="read-more --white">Boek afspraak</span>
            </a>
        </div>
    </section>
{% endif %}