{% if page_model.content_block %}
<section class="content-element ce-img-content --ce-img-right --ce-big-content">
    <div class="container">
        <div class="ce__inner aos-init aos-animate" data-aos="fade-up">
            <div class="ce__img">
                <img src="{{ page_model.content_block.image_cut.url }}" alt="">
            </div>
            <div class="ce__content">
                <div class="ce__title">
                    <h5 class="subtitle">{{ page_model.content_block.sub_title }}</h5>
                    <h3 class="like-h3">{{ page_model.content_block.title }}</h3>
                </div>
                <div class="ce__desc --content">
                   {{ page_model.content_block.content | safe}}
                </div>
                <div class="btn-block">
                    <a href="https://www.gevelcalculator.cleys.be/" class="btn --btn-arrow">Bereken jouw prijs</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}