{% extends 'base.html' %}
{% block content %}

    {% include 'includes/slider_head.html' %}

    <section class="introduction introduction-with-imgs --gray-bg">
        <div class="container">
            <div class="introduction__inner">
                <div class="introduction__left">
                    <div class="introduction__header" data-aos="fade-up">
                        <h5 class="subtitle">CLEYS</h5>
                        <h2 class="like-h3">{{ page_model.introduction_title }}</h2>
                    </div>
                    <div class="introduction__desc --content" data-aos="fade-up">
                    {{ page_model.introduction_content | safe }}
                    </div>
                    <div class="btn-block">
                        <a href="#" class="btn --btn-arrow">Ons verhaal</a>
                    </div>
                </div>
                <div class="introduction__right">
                    <div class="introduction__imgs">
                        <div class="img big">
                            <img src="{{ page_model.introduction_small_image_cut.url }}" alt="">
                        </div>
                        <div class="img small">
                            <img src="{{ page_model.introduction_big_image_cut.url }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="team">
        <div class="container">
            <div class="team__inner">
                <div class="team__header section-title --section-title-center">
                    <h5 class="subtitle">team</h5>
                    <h2 class="like-h3">{{ page_model.team_title }}</h2>
                </div>
                <div class="team__list">
                    {% for member in page_model.team_members.all %}
                        <div class="team__member" data-aos="fade-up">
                            <div class="team__member-img">
                                <img src="{{member.image_cut.url }}" alt="">
                            </div>
                            <div class="team__member-content">{{ member.name }} <span>{{ member.role }}</span></div>
                        </div>
                    {% endfor %}
                    
                    <div data-aos="fade-up">
                        <a href="/jobs.php" class="team__link">
                            <h3 class="like-h3">Kom je ook werken bij Cleys?</h3>
                            <div>Wij zijn altijd op zoek naar talent!</div>
                            <span class="read-more --white">bekijk vacatures</span>
                        </a>
                    </div>
                    </div>
                </div>
            </div>
    </section>

    <section class="history --blue-bg">
        <span class="logo-bg" data-aos="fade-up"></span>
        <div class="container">
            <div class="history__inner">
                <div class="history__header section-title --section-title-center">
                    <h5 class="subtitle">GESCHIEDENIS</h5>
                    <h2>Cleys door de jaren heen</h2>
                </div>
                <div class="history__list">
                    {% for  history_item in page_model.histories.all %}
                    <div class="history__item" data-aos="fade-up">
                        <div class="history__item-date-img">
                            <div class="history__item-date">{{ history_item.year }}</div>
                            <h3 class="history__item-title">{{ history_item.title }}</h3>
                            <div class="history__item-img">
                                <img src="{{ history_item.image_cut.url }}" alt="">
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    {% include 'includes/reviews.html' %}
    
{% endblock %}