{% extends 'base.html' %}
{% block content %}
{% load static %}

        {% include 'includes/slider_head.html' %}
        {% include 'includes/sections/introduction_section.html' %}
        {% include 'includes/sections/related_projects_sections.html' %}
        {% include 'includes/sections/cta_optional_section.html' %}
        {% include 'includes/sections/video_section.html' %}
        {% include 'includes/sections/booking_section.html' %}
        {% include 'includes/sections/animation.html' %}
        {% include 'includes/sections/content_section.html' %}
        {% include 'includes/sections/calculator_section.html' %}
        {% include 'includes/sections/projects_section.html' %}
        {% include 'includes/sections/result.html' %}
        {% include 'includes/sections/appointment.html' %}
        {% include 'includes/reviews.html' %}

{% endblock %}