{% extends 'base.html' %}
{% block title %}Server error{% endblock %}
{% block meta_title %}Server error{% endblock %}
{% block meta_description %}Oeps, er is een fout opgetreden.{% endblock %}
{% block meta_robots %}noindex,nofollow{% endblock %}
{% block content %}

    <section class="history">
        <div class="container">
            <div class="history__inner">
                <div class="history__list">
                    <h2 class="like-h2">Server error 500</h2>
                        <div class="desc">
                            <p>Oeps, er is een fout opgetreden.</p>
                            <p>Terwijl we ons best doen om dit probleem om te lossen kan je:</p>
                            <ul>
                                <li>De pagina binnen enkele minuten <a href="javascript:history.go(0);">opnieuw laden</a>;</li>
                                <li>Informatie over onze <a href="{% url 'website:about_us' %}">diensten</a> raadplegen of onze <a href="{% url 'website:about_us' %}">geschiedenis</a>;</li>
                                <li>Terugkeren naar de <a href="{% url 'website:index' %}">startpagina</a>;</li>
                                <li><a href="{% url 'website:contact_page' %}">contact opnemen</a> met een van onze medewerkers.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}