{% load static %}
<section class="how-it-works how-it-works-tabs js-how-it-works-tabs --gray-bg">
    <div class="container">
        <div class="how-it-works__inner">
            <div class="how-it-works__header" data-aos="fade-up">
                <h5 class="subtitle">CLEYS</h5>
                <h2 class="like-h3">Opbouw</h2>
            </div>
            <div class="how-it-works__left" data-aos="fade-up">
                <div class="how-it-works__img">
                    <img src="{% static 'assets/images/how-it-works__img/2.jpg' %}" alt="">
                    <svg viewBox="0 0 505 495" class="how-it-works__img-numbers">
                        <g class="how-it-works__tabs-content">
                            <circle cx="285" cy="50" r="12.5" />
                            <text x="285" y="50" transform="translate(-3 6)">1</text>
                        </g>
                        <g class="how-it-works__tabs-content">
                            <circle cx="382" cy="263" r="12.5" />
                            <text x="382" y="263" transform="translate(-4 6)">2</text>
                        </g>
                        <g class="how-it-works__tabs-content">
                            <circle cx="260" cy="348" r="12.5" />
                            <text x="260" y="348" transform="translate(-5 6)">3</text>
                        </g>
                        <g class="how-it-works__tabs-content">
                            <circle cx="99" cy="332" r="12.5" />
                            <text x="99" y="332" transform="translate(-5 5)">4</text>
                        </g>
                        <g class="how-it-works__tabs-content">
                            <circle cx="54" cy="428" r="12.5" />
                            <text x="54" y="428" transform="translate(-5 6)">5</text>
                        </g>
                    </svg>
                </div>
            </div>
            <div class="how-it-works__right" data-aos="fade-up">
                <div class="how-it-works__content">
                    <ul class="how-it-works__list">
                        <li class="how-it-works__trigger">
                            <span class="num">1</span>
                            <div class="title">Montage met kleefmortel + isolatiepluggen</div>
                        </li>
                        <li class="how-it-works__trigger">
                            <span class="num">2</span>
                            <div class="title">EPS isolatie</div>
                        </li>
                        <li class="how-it-works__trigger">
                            <span class="num">3</span>
                            <div class="title">Wapeningsnetten & profielen</div>
                        </li>
                        <li class="how-it-works__trigger">
                            <span class="num">4</span>
                            <div class="title">Uitvlakingslaag bepleisteringsmortel</div>
                        </li>
                        <li class="how-it-works__trigger">
                            <span class="num">5</span>
                            <div class="title">Voorstrijklaag</div>
                        </li>
                    </ul>
                    <div class="btn-block">
                        <a href="https://www.gevelcalculator.cleys.be/" class="btn --btn-arrow">Bereken jouw prijs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>