{% load static %} 
<section class="how-it-works how-it-works-tabs js-how-it-works-tabs --gray-bg">
    <div class="container">
        <div class="how-it-works__inner">
            <div class="how-it-works__header" data-aos="fade-up">
                <h5 class="subtitle">HOE WERKT HET</h5>
                <h2 class="like-h3">Hoe gaan we te werk? </h2>
            </div>
            <div class="how-it-works__left" data-aos="fade-up">
                <div class="how-it-works__img">
                    <img src="{% static 'assets/images/how-it-works__img/3.jpg' %}" alt="">
                    <svg viewBox="0 0 547 540" class="how-it-works__img-numbers">
                        <g class="how-it-works__tabs-content">
                            <circle cx="216" cy="320" r="12.5" />
                            <text x="216" y="320" transform="translate(-3 6)">1</text>
                        </g>
                        <g class="how-it-works__tabs-content">
                            <circle cx="311" cy="252" r="12.5" />
                            <text x="311" y="252" transform="translate(-4 6)">2</text>
                        </g>
                        <g class="how-it-works__tabs-content">
                            <circle cx="361" cy="195" r="12.5" />
                            <text x="361" y="195" transform="translate(-5 6)">3</text>
                        </g>
                        <g class="how-it-works__tabs-content">
                            <circle cx="371" cy="90" r="12.5" />
                            <text x="371" y="90" transform="translate(-5 5)">4</text>
                        </g>
                    </svg>
                </div>
            </div>
            <div class="how-it-works__right" data-aos="fade-up">
                <div class="how-it-works__content">
                    <ul class="how-it-works__list">
                        <li class="how-it-works__trigger">
                            <span class="num">1</span>
                            <div class="title">Afbraak</div>
                            <div class="subtitle">Huidige dak afdichting verwijderen tot op de houtstructuur</div>
                        </li>
                        <li class="how-it-works__trigger">
                            <span class="num">2</span>
                            <div class="title">Isoleren</div>
                        </li>
                        <li class="how-it-works__trigger">
                            <span class="num">3</span>
                            <div class="title">Onderdak</div>
                        </li>
                        <li class="how-it-works__trigger">
                            <span class="num">4</span>
                            <div class="title">Afdichting</div>
                        </li>
                    </ul>
                    <div class="btn-block">
                        <a href="https://www.gevelcalculator.cleys.be/" class="btn --btn-arrow">Bereken jouw prijs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>