{% load static %}
<section class="how-it-works how-it-works-slider js-how-it-works-tabs">
    <div class="container">
        <div class="how-it-works__inner">
            <div class="how-it-works__header" data-aos="fade-up">
                <h5 class="subtitle">HOE WERKT HET</h5>
                <h2 class="like-h3">Hoe gaan we te werk?</h2>
            </div>
            <div class="how-it-works__left" data-aos="fade-up">
                <!-- NOTE For best view better to render/generate slideshow images in same size -->
                <div class="how-it-works__slider js-how-it-works-slider">
                    <div class="how-it-works__slider-item how-it-works__tabs-content">
                        <div class="img">
                            <img src="{% static 'assets/images/how-it-works__img/how-it-works-slider__img.jpg' %}" alt="">
                        </div>
                        <div class="content">
                            <div class="title">Kennismaking</div>
                            <div class="subtitle">Eerste gesprek en opmeting ter plaatse</div>
                        </div>
                    </div>
                    <div class="how-it-works__slider-item how-it-works__tabs-content">
                        <div class="img">
                            <img src="{% static 'assets/images/how-it-works__img/how-it-works-slider__img-2.jpg' %}" alt="">
                        </div>
                        <div class="content">
                            <div class="title">Voorstel</div>
                        </div>
                    </div>
                    <div class="how-it-works__slider-item how-it-works__tabs-content">
                        <div class="img">
                            <img src="{% static 'assets/images/how-it-works__img/how-it-works-slider__img.jpg' %}" alt="">
                        </div>
                        <div class="content">
                            <div class="title">Overeenkomst</div>
                        </div>
                    </div>
                    <div class="how-it-works__slider-item how-it-works__tabs-content">
                        <div class="img">
                            <img src="{% static 'assets/images/how-it-works__img/how-it-works-slider__img-2.jpg' %}" alt="">
                        </div>
                        <div class="content">
                            <div class="title">Detailopmeting</div>
                        </div>
                    </div>
                    <div class="how-it-works__slider-item how-it-works__tabs-content">
                        <div class="img">
                            <img src="{% static 'assets/images/how-it-works__img/how-it-works-slider__img.jpg' %}" alt="">
                        </div>
                        <div class="content">
                            <div class="title">Bestelling</div>
                        </div>
                    </div>
                    <div class="how-it-works__slider-item how-it-works__tabs-content">
                        <div class="img">
                            <img src="{% static 'assets/images/how-it-works__img/how-it-works-slider__img-2.jpg' %}" alt="">
                        </div>
                        <div class="content">
                            <div class="title">Plaatsing</div>
                        </div>
                    </div>
                    <div class="how-it-works__slider-item how-it-works__tabs-content">
                        <div class="img">
                            <img src="{% static 'assets/images/how-it-works__img/how-it-works-slider__img.jpg' %}" alt="">
                        </div>
                        <div class="content">
                            <div class="title">Attesten</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="how-it-works__right" data-aos="fade-up">
                <div class="how-it-works__content">
                    <ul class="how-it-works__list">
                        <li class="how-it-works__trigger">
                            <div class="title">Kennismaking</div>
                            <div class="subtitle">Eerste gesprek en opmeting ter plaatse</div>
                        </li>
                        <li class="how-it-works__trigger">
                            <div class="title">Voorstel</div>
                        </li>
                        <li class="how-it-works__trigger">
                            <div class="title">Overeenkomst</div>
                        </li>
                        <li class="how-it-works__trigger">
                            <div class="title">Detailopmeting</div>
                        </li>
                        <li class="how-it-works__trigger">
                            <div class="title">Bestelling</div>
                        </li>
                        <li class="how-it-works__trigger">
                            <div class="title">Plaatsing</div>
                        </li>
                        <li class="how-it-works__trigger">
                            <div class="title">Attesten</div>
                        </li>
                    </ul>
                    <div class="btn-block">
                        <a href="https://www.gevelcalculator.cleys.be/" class="btn --btn-arrow">Bereken jouw prijs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>